html, body{
	background-color: #222;
}
.content{
	width: 100%;
	height: 100%;
}

/* stage -- start */
.stage{
	position: relative;

	width: 100%;
	height: 680px;
}

/* stage -- end */

/* img-sec --start */

.img-sec{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #ddd;
	@at-root{
		.img-figure{
			position: absolute;

			width: 380px;
			height: 300px;
			margin: 0;
			padding: 40px;
			padding-bottom: 80px;
			background-color: #fff;

			box-sizing: border-box;
			img{
				width: 100%;
				height: 100%;
			}

		}
		figcaption{
			text-align: center;
			.img-title{
				margin-top: 20px;
				color: #a7a0a2;
				font-size: 16px;
			}
		}
	}
}

/* img-sec --end */

/*controller -- start*/
.controller-nav{
	position: absolute;
	left: 0;
	bottom: 30px;
	z-index: 101;
	width: 100%;
	text-align: center;
}

/*controller -- end*/

